fastapi
uvicorn[standard]
requests
httpx
python-dotenv
pydantic
pydantic-settings
bcrypt
pyjwt
fastapi-mail
email-validator
sqlalchemy
psycopg2-binary
pymongo
motor
redis
jinja2
python-multipart
itsdangerous
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
Pillow
google-generativeai